{% if message %}
<div class="
  {% if tag == 'success' %}
    bg-green-100 border border-green-400 text-green-700
  {% elif tag == 'error' or tag == 'danger' %}
    bg-red-100 border border-red-400 text-red-700
  {% elif tag == 'warning' %}
    bg-yellow-100 border border-yellow-400 text-yellow-700
  {% elif tag == 'info' %}
    bg-blue-100 border border-blue-400 text-blue-700
  {% else %}
    bg-gray-100 border border-gray-400 text-gray-700
  {% endif %}
  px-4 py-3 rounded relative mb-4"
  id="alert-box"
  role="alert">
  <span class="block sm:inline">{{ message }}</span>
  <button type="button"
          class="absolute top-0 bottom-0 right-0 px-4 py-3"
          onclick="this.parentElement.remove()">
    <svg class="fill-current h-6 w-6
      {% if tag == 'success' %}
        text-green-500
      {% elif tag == 'error' or tag == 'danger' %}
        text-red-500
      {% elif tag == 'warning' %}
        text-yellow-500
      {% elif tag == 'info' %}
        text-blue-500
      {% else %}
        text-gray-500
      {% endif %}"
      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
      <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
    </svg>
  </button>
</div>
{% endif %}
